/********** CUSTOM STYLES *********/

.div--container__content {
  margin: 10px auto 40px auto;
  min-height: 650px;
}

/**** NAV BAR *****/
nav {
  width: 100%;
  background-color: black;
  font-family: 'Oswald';
  height: 50px;
}

nav a {
  margin: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  text-align: center;
  float: left;
  font-weight: bold;
  letter-spacing: 2px;
}

nav span {
  float: right;
  line-height: 30px;
}

nav a:hover {
  color: white;
}

.span--brand__title {
  margin-left: 8px;
  font-size: 27px;
}


.img--brand__logo {
  max-width: 55px;
  position: relative;
  top: -10px;
}

/**** HOME *****/

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.div--container__home{
  position: relative;
  top: -40px;
}

.img--home__logo {
  max-width: 200px;
  margin: 5px;
  animation-name: spin;
  animation-duration: 9000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

/**** AUTH *****/

.div--container__form input{
  width: 500px;
  padding: 20px;
  margin: 10px;
  font-size: 40px;
}

.signup{
  position: relative;
  top: -40px;
}

.div--container__form input[type="submit"]{
  font-family: 'Oswald';
  font-size: 42px;
  padding: 20px;
  width: 300px;
  background: #c49cc3;
  border:none;
  border-radius: 6px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 30px auto;
  letter-spacing: 2px;
  box-shadow: 0 0 5px 1px white;
}

.h1--auth {
  font-size: 60px;
  font-family: 'Droid Serif';
  font-style: italic;
  text-transform: lowercase;
  color: white;
  letter-spacing: 2px;
}

.h1--auth__free {
  font-size: 20px;
  font-family: 'Droid Serif';
  font-style: italic;
  text-transform: lowercase;
  color: white;
  letter-spacing: 2px;
  position: relative;
  top: -10px;
}

.error {
  background-color: indianred;
  color: white;
  letter-spacing: 1px;
  font-family: 'Oswald';
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 30px;
  width: 200px;
  margin: 10px auto;
  position: relative;
  top: -5px;
  z-index: 999;
  border: 2px solid black;
}

.success {
  background-color: #ceffce;
  color: white;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  font-family: 'Oswald';
  font-size: 18px;
  line-height: 18px;
  background: none !important;
  border: none;
}

/****** Profile *******/
.button--profile {
  font-family: 'Oswald';
  font-size: 22px;
  padding: 20px;
  width: 300px;
  background: #c49cc3;
  border:none;
  border-radius: 6px;
  color: white;
  text-shadow: 1px 1px cadetblue;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 10px auto;
  letter-spacing: 2px;
  box-shadow: 0 0 7px 0px white;
}

.button--nav__picker {
  padding:  10px;
  display: inline-block;
  position: relative;
  left: -50px;
  bottom: -190px;
  background: black !important;
}

.button--nav__upload {
  padding: 10px;
  display: inline-block;
  position: relative;
  left: -100px;
  bottom: -190px;
  background: black !important;
}

.button--above__picker {
  background: black !important;
  bottom: 5px !important;
  left: -65px !important;
}

.button--below {
}
.button--above__detect {
  background: black !important;
  bottom: 5px!important;
  left: -65px!important;
}

.gray {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.h2--profile__greeting {
  font-family: 'Droid Serif' !important;
  text-transform: lowercase !important;
  font-size: 44px !important;
  font-style: italic !important;
  color: black !important;
  letter-spacing: 1px;
}

.h4--profile__greeting {
  font-family: 'Droid Serif' !important;
  font-size: 25px !important;
  font-style: italic !important;
  text-transform: lowercase !important;
  color: black !important;
  position: relative !important;
  top: -6px !important;
}

.h2--profile__droid {
  color: white;
  font-family: 'Droid Serif';
  font-style: italic;
  width: 350px;
  letter-spacing: 1px;
  margin: 0 auto;

}

.h2--profile {
  font-size: 50px;
  color: white;
    border-bottom: 3px double white;
    max-width: 78px;
    margin: 10px auto;
}

.h3--profile{
  font-size: 12px;
  font-family: 'Droid Serif';
  position: relative;
  font-style: italic;
  top: 3px;
}

/*** Upload ***/
.div--container__upload {
  width: 600px;
  margin: 10px auto;
}

.div--container__alldetected {
  text-align: center;
  position: relative;
}

.div--container__square {
  display: inline-block;
  margin: 5px;

}

.div--container__detected {
  display: inline-block;
  margin: inherit;
  max-width: 80px;
}

.upload-button {
  font-family: 'Oswald';
  font-size: 22px;
  padding: 10px;
  width: 270px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  letter-spacing: 2px;
  box-shadow: 0 0 7px 0px white;
}

.div--detected__h3 {
  font-size: 15px;
   margin: 10px;
}

.div--cloud__image {
  background: black;
  margin: 10px auto;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 6px  ;
}

.h1--detected__percent {
  font-size: 25px;
  font-family: 'Droid Serif';
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: white;
}

/*** Color Picker ***/

.div--container__wheel {
  margin: 10px auto;
  flex-grow: 1;
}

.faves {
  font-family: 'Oswald';
  font-size: 20px;
  padding: 5px;
  width: 275px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px;
  letter-spacing: 2px;
  box-shadow: 0 0 2px 0px white;
}

.sketch-picker {
  margin: 30px auto 0 auto!important;
  width: 311px !important;
}

.sketch-picker > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div > div > div {
  height: 13px !important;
  margin: 0 !important;
}
.div--container__content > div > div > div > div:nth-child(1) > div {
  border-radius: 4px !important;
}

.div--container__content > div > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  height: 13px !important;
}

.hue-horizontal {
  height: 13px !important;
  border-radius: 5px !important;
}

/*Complementary colors*/

.div--container__analyzedcolor {
  max-width: 400px;
  margin: 0 auto;
}

.div--container__coloroptions{
  margin: 10px auto;
  max-width: 800px;
}

.div--container__coloroptions button {
  font-family: 'Oswald';
  font-size: 22px;
  padding: 10px;
  width: 300px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin: 5px;
  letter-spacing: 2px;
  box-shadow: 0 0 7px 0px white;
}

.div--image-color{
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: -2px 1px;
  border: 2px solid grey;
  border-radius: 3px;
}

/*** Saved Colors ***/

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}
.div--palette__saved{
  display: inline-block;
  margin-left: 100px;
  height: 50px;
  width: 50px;
}

/***** Footer *****/

.footer {
  background-color: black;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: white;
}

.footer-text {
  color: #fff;
  font-size: 18px;
  font-family: 'Oswald';
  text-transform: uppercase;
  margin: 5px;
  float: right;
  width: 230px;
}




/* DEFAULT STYLES */
.App {
  text-align: center;
}
